/* General */
@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/GOTHIC.TTF') format('truetype');
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('fonts/GOTHICB.TTF') format('truetype');
}

@font-face {
  font-family: 'Century Gothic Italic';
  src: url('fonts/GOTHICI.TTF') format('truetype');
}

@font-face {
  font-family: 'Century Gothic Bold Italic';
  src: url('fonts/GOTHICBI.TTF') format('truetype');
}

body, html {
  font-family: 'Century Gothic', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.8rem;
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: normal;
  color: white;
}

h3 {
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  color: white;
}

h4 {
  color: #646464;
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: normal;
}

.collector {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.collector {
  background: url("images/background.png") top;
  background-size: cover;
  display: grid;
  grid-template-rows: 5rem auto min-content 4rem;
  grid-gap: 2rem;
  padding: 3rem;
}

.upscore-background-title {
  position: absolute;
}

.collector .notifyer-title img {
  width: 20rem;
}

.start-button button {
  width: 100%;
  height: 100%;
  background-color: #E73827;
  color: white;
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  border: none;
}