@import "css/start-page.css";
@import "css/collect.css";

/* General */
@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/GOTHIC.TTF') format('truetype');
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('fonts/GOTHICB.TTF') format('truetype');
}

@font-face {
  font-family: 'Century Gothic Italic';
  src: url('fonts/GOTHICI.TTF') format('truetype');
}

@font-face {
  font-family: 'Century Gothic Bold Italic';
  src: url('fonts/GOTHICBI.TTF') format('truetype');
}

body, html {
  font-family: 'Century Gothic', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

p {
  font-family: "Century Gothic", sans-serif;
  color: white;
}

h1 {
  font-size: 1.8rem;
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: normal;
  color: white;
}

h2 {
  font-size: 1.6rem;
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: normal;
  color: white;
}

h3 {
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  color: white;
}

h4 {
  color: #646464;
  font-family: 'Century Gothic Bold', sans-serif;
  font-weight: normal;
}